/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media all and (min-width: 1025px){
	.deshboard_menu_area{
		display: block !important;
	}
	.navbar {
	  display: none;
	}
}
@media all and (min-width: 993px){
	.landing_menu ul{
		display:flex !important;
	}
}
@media all and (max-width: 1822px){
	.sh_error_tickets .card-footer ul {
		flex-direction: column;
	}
	.sh_error_tickets .card-footer ul li:first-child {
		margin-bottom:8px;
	}
	.dataTables_length select {
		max-width: 135px;
		padding: 10px 35px 10px 30px;
	}
}
@media all and (min-width:1600px) and (max-width: 1781px){
	.golden_power_coien_blance p span:last-child {
		line-height: 34px;
		font-size: 22px;
	}
	.golden_income ul li p, .goldent_spending ul li p, .golden_power_counting_items h3 {
		font-size: 17px;
		line-height: 32px;
	}
	.golden_power_coien_blance p span:last-child {
		line-height: 34px;
		font-size: 17px;
		margin-left: 10px;
	}
	.golden_power_coien_blance p span:first-child {
		font-size: 15px;
	}
	.sh_gpe_trns_order .col-md-6:last-child{
		width: 100%;
		margin-top: 10px;
	}

	.sh_gpe_trns_order .col-md-6 .dataTables_length {
		width: 100%;
		justify-content: flex-end;
	}
}
@media all and (min-width: 1400px) and (max-width: 1599px){
	.golden_power_coien_blance p {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}		
	.golden_power_coien_blance p span:last-child {
		margin-top: 10px;
		margin-left: 0;
	}
	.sh_income_spending_items::after {
		display: none;
	}
	.sh_income_spending_items {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.goldent_spending {
		margin-top: 15px;
	}

	.sh_counting_single_items .card-body {
		padding: 32px 20px;
	}
	.golden_income ul li p, 
	.goldent_spending ul li p, 
	.golden_power_counting_items h3 {
		font-size: 16px;
		line-height: 32px;
	}
	.sh_top_ups_golden_coin {
		flex-direction: column;
		justify-content: flex-start;
		align-items: start;
	}
	.sh_top_ups_golden_coin_items:not(:last-child) {
		margin-bottom: 25px;
	}
	.sh_line{
		display: none;
	}
	.sh_top_upsv2_about_gpc ul li {
		font-size: 17px;
	}
	.sh_cashout_widgets1 .text-center {
		text-align: left !important;
	}
	.sh_support_ticket > .col-sm-7{
		width: 100%;
	}
	.sh_gpe_trns_order .col-md-6:last-child{
		width: 100%;
		margin-top: 10px;
	}
	.sh_gpe_trns_order .col-md-6:first-child {
		width: 100%;
	}
	.sh_gpe_trns_order .col-md-6 .dataTables_length {
		width: 100%;
		justify-content: flex-end;
	}
	.sh_account_id input {
		width: 35px;
	}

}
@media all and (max-width: 1399px){
	.right_golden_power_blance{
		margin-top: 40px;
	}
	.sh_top_upsV2_income_spending{
		margin-top: 20px;
	}
	.sh_cashout_withdraw_form .buy_golden_power_coien{
		padding-bottom:80px;
	}
	.sh_cashout_withdraw_form .sh_buy_golden_coinv2_img{
		text-align: right;
	}
	.sh_cashout_withdraw_form .sh_buy_golden_coinv2_img img {
		width: 60%;
		position: relative;
	}
	.sh_error_tickets .card-footer ul {
		flex-direction: unset;
	}

}
@media all and (min-width: 1025px) and (max-width: 1199px){
	.sh_top_ups_golden_coin_items ul li:last-child p {
		font-size: 18px;
	}
}
@media all and (max-width:1199px){
	.right_golden_power_blance{
		margin-top: 40px;
	}
	.deshboard_search_bar form {
		width: 312px;
	}
	.sh_top_ups_golden_coin_items h3 {
		font-size: 28px;
	}
	.sh_top_ups_golden_coin_items h3 {
		font-size: 26px;
	}
	.sh_account_id input {
		width: 36px;
		padding: 10px 5px !important;
		text-align: center;
	}
	.register_main_form_area {
	  background-color: #FFF9ED;
	  height: auto;
	}
	.register_main_page_area .container-fluid {
	  overflow: auto;
	}
	.register_image_area{
	  background: url('../images/register/bg.png') no-repeat scroll 0 0 / cover;
	  height: auto;
	}
	.landing_header_left_area{
		display: none;
	}

}
@media all and (max-width:1024px){
	.deshboard_menu_area {
		display: none;
	}
	.hamber_menu_area{
		display: block;
	}
	.deshboard_search_bar {
	  display: none;
	}
	.togle_humber{
	  display: block;
	}
	.deshboard_logo_area {
		display: none;
	}
	.deshboard_logo_area a img {
		display: none;
	}
	.deshboard_menu_area {
		position: absolute;
		z-index: 99999999999999999;
		top: 107px;
		padding-top: 24px;
		height: 100%;
		width: 100%;
	}
	.deshboard_nav_menu {
		width: 100% !important;
		background: #FFF9ED;
	}
	.navbar {
	  display: block;
	}.sh_account_id input {
		width: 45px;
	}
}
@media all and (max-width: 992px){
	.sh_top_ups_golden_coin_items:last-child ul{
		width: 120px;
	}
	.sh_top_ups_golden_coin_items ul li:last-child p {
		font-size: 18px;
	}
	.join_golden_ionc {
		margin-top: 20px;
	}
	.sh_account_id input {
		width: 34px;
		padding: 10px 5px !important;
		text-align: center;
	}
	.register_card_area::before {
	  bottom: 50%;
	}
	.landing_menu ul {
		flex-direction: column;
	}
	/* Landing Mobile page  */
	.landing_header_right_area {
	    display: flex;
	    justify-content: space-between !important;
	    width: 100%;
	}
	.landing_menu ul {
	  position: absolute;
	  background: #C6B080;
	  width: 100%;
	  left: 0;
	  top: 100%;
	}
	.landing_menu ul li {
	  width: 100%;
	  text-align: center;
	  background: #C6B080;
	  border: 1px solid #C6B080;
	  padding: 12px 0;
	}
	.landing_menu ul li:hover{
	  background: #fff;
	}
	.landing_menu ul{
		display: none;
	}
	.lending_header_area .navbar {
		display: block;
	}
	
	.landing_news_area::after {
		position: absolute;
		content: "";
		width: 0%;
		height: 0%;
	}
	.landing_whitepaper {
		padding-top: 400px;
	}
	.landing_whitepaper_area::before {
		left: 0;
		top: 28px;
		right: 0;
		margin: auto;
		z-index: 2;
	}
	.landing_whitepaper_area::after {
		width: 0%;
		height: 0%;
	}
	.landing_whitepaper_area {
		padding: 30px 0 80px 0;
	}
	.landing_footer_single_item {
		text-align: center;
	}



}
@media all and (max-width: 767px){

	.sh-datatable table{
		width: 695px;
		overflow-y: scroll;
	}
	.deshboard_profile_bar ul li:nth-child(1){
		display: none;
	}
	.deshboard_profile_bar ul li:nth-child(2){
		display: none;
	}
	.sh_main_tamplate {
		position: relative;
	}
	.sh_main_content_area {
		padding: 20px 10px 20px 10px;
	}
	.sh_buy_golden_coinv2_img img {
		width: 85%;
		position: relative;
		margin: 0 auto;
	}
	.buy_golden_power_coien {
		padding-bottom: 80px;
	}
	.sh_buy_golden_coinv2_img {
		margin: 0 auto;
		text-align: center;
	}
	.sh_top_ups_golden_coin {
		flex-direction: column;
		justify-content: flex-start;
		align-items: start;
	}
	.sh_line {
		display: none;
	}
	.sh_top_ups_golden_coin_items:not(:last-child) {
		margin-bottom: 25px;
	}
	.sh_top_ups_golden_coin_items:last-child ul {
		width: 100%;
	}
	.sh_cashout_widgets1 .text-center {
		text-align: left !important;
	}

	.sh_top_ups_golden_coin_items ul li:last-child p {
		font-size: 20px;
	}
	.sh_account_id input {
		width: 45px;	
		margin-top: 10px;
	}
	.sh_account_id {
		flex-wrap: wrap;
	}
	.login_main_form_area .register_logo {
		text-align: center;
		padding-bottom: 20px;
		padding-top: 10px;
	}
	.login_main_form_area .register_logo a {
		padding: 0px;
	}
	.login_main_page_area {
		height: auto;
		padding-bottom: 60px;
	}
	.lo_container {
		max-width: 95%;
	}
	.landing_news_single {
		height: 198px;
	}

}
@media all and (max-width: 575px){

	.refer_clipboard_items form .form-group {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.refer_clipboard_items form .form-group input {
		width: 100%;
		border-radius: 10px;
		margin-top: 15px;
	}
	.refer_clipboard_items form input[type="button"] {
		max-width: 100%;
	}
	.refer_golden_clipboard::after{
		display: none;
	}
	.sh_social_share_left{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.sh_social_share_left ul:first-child{
		margin-bottom: 15px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.join_share_icon a {
		margin-top: 0px;
	}
	.golden_power_coien_blance p {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}		
	.golden_power_coien_blance p span:last-child {
		margin-top: 15px;
		margin-left: 0;
	}
	.sh_income_spending_items {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}	
	.sh_income_spending_items::after {
		display: none;
	}
	.goldent_spending{
		margin-top: 15px;
	}
	.sh_top_ups_golden_coin_items h3 {
		font-size: 26px;
	}
	.sh_cashout_withdraw_form .amount_desc p span{
		display: block;
	}
	.sh_cashout_withdraw_form .sh_buy_golden_coinv2_img img {
		width: 80%;
	}
	.sh_error_tickets .card-footer ul {
		flex-direction: column;
	}
	.sh_error_tickets .card-footer ul li:first-child {
		margin-bottom:8px;
	}
	.register_main_page_area {
		max-width: 96% !important;
		margin:0 auto;
		width: 100%;
	}
	.register_header_area ul li a {
		padding:15px 0;
		text-align: center;
	}
	.register_single_item_slide h1 {
		font-size: 24px;
	}
	.register_card_area {
		padding: 26px 20px 320px 20px;
	}
	.register_card_area::after {
	  height: 330px;
	}
	.owl-theme .owl-nav.disabled + .owl-dots {
	  bottom: -280px;
	  position: relative;
	}
	.register_main_page_area .container-fluid{
	  padding-left: 15px;
	  padding-right: 15px;
	}
	.mobail-logo a img {
		width: 71px;
		height: 71px;
	}
	.deshboard_header_top_area_sub {
		padding: 20px 10px 20px 0px;
	}
	.deshboard_menu_area {
		top: 87px;
	}
	.login_text_area {
		flex: 0 0 75%;
		padding-right: 3px;
	}
	.login-email-select-option label {
		padding: 8px 4px;
		padding-left: 10px;
	}
	.btn-register-area {
		flex-direction: column;
	}
	.landing-btn {
		margin: 5px 0;
	}
	.landing_footer_help {
		text-align: center;
	}
	.landing_footer_top {
		max-width: 90%;
		width: 100%;
		margin: auto;
	}

	
}
@media all and (max-width: 450px){

	.template_main_area {
		padding: 20px 15px 20px 15px;
	}
	.card-body {
		padding: 20px 20px;
	}
	.join_golden_ionc .card::before {
		width: 13px;
	}
	.sh_main_content_area, .sh_top_upsV2_area, .sh_cash_out_area {
		padding: 20px 5px 20px 5px;
	}
	.shl_top_upsV2-golden_power > .card >.card-body{
		padding:  10px 0px;
	}
	.sh_top_ups_golden_coin {
		padding: 10px 16px;
	}
	.sh_top_ups_Buy_golden_powerCoin h3 {
		font-size: 21px;
		line-height: 30px;
	}
	.sh_top_upsv2_about_gpc ul li {
		font-size: 16px;
		line-height: 24px;
	}
	.amount_desc p span {
		font-size: 18px;
	}
	.amount_desc p {
		font-size: 16px;
		line-height: 22px;
	}
	.sh_cashout_withdraw_form .buy_golden_power_coien {
		padding-bottom: 20px;
	}
	.sh_support_ticket_card .card-body{
		padding: 20px 15px;
	}
	.sh_account_id input {
		width: 42px;
	}
	.sh_transfer_messages p span{
		display: block;
	}
	.sh_gpe_trns_order .col-md-6:last-child {
		margin-top: 10px;
	}
	.register_card_area::after {
	  height: 300px;
	}
	.login-email-select-option label {
		flex-direction: column;
	}
	.login_text_area {
		padding-right: 0px;
		flex: 0 0 100%;
		padding: 15px;
	}
	.login_header_area {
		padding: 20px 6px;
	}
	.login-email-select-option label {
		padding: 17px 4px;
		padding-left: 10px;
	}
	.landing_header_right_area ul li a {
		padding: 5px 7px;
	}
}
